<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button ></ion-back-button>    
    </ion-buttons>
    <ion-title>arduino-services</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" padding>
  
  <div padding>
    <ion-item>
      <ion-label>Service: </ion-label>
      <ion-select [(ngModel)]="service.name" name="name">
        <ion-select-option  *ngFor="let service of services" [value]="service">{{service.name}}</ion-select-option>             
      </ion-select> 
    </ion-item>
    <ion-item>
      <ion-label>Start time: HH:mm</ion-label>
      <ion-datetime [(ngModel)]="service.start_time" name="start_time" displayFormat="HH:mm"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End time: HH:mm</ion-label>
      <ion-datetime [(ngModel)]="service.end_time" name="end_time" displayFormat="HH:mm"></ion-datetime>            
    </ion-item>
    <ion-item>
      <ion-label>Active: </ion-label>
      <ion-checkbox [(ngModel)]="service.active" name="active" slot="end"></ion-checkbox>
    </ion-item>
  </div>
  <div padding>
    <ion-button size="large" (click)="addService()">Add Service</ion-button>
  </div>

</ion-content>
