<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>    
    </ion-buttons>
    <ion-title>arduino-services</ion-title>
    <ion-buttons slot="end" (click)="addService()">
      <ion-icon slot="icon-only"  name="add-outline"></ion-icon>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="serviceItems">

  <IonCard *ngFor="let service of serviceItems" >
    <IonCardHeader>
      <IonCardTitle  *ngIf="service">{{getName(service.name)}}</IonCardTitle>
    </IonCardHeader>

    <IonCardContent>
      <ion-list >
        <ion-item>
          <ion-label>Start time: HH:mm</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="service.start_time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End time: HH:mm</ion-label>
          <ion-datetime displayFormat="HH:mm" [(ngModel)]="service.end_time"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Active: </ion-label>
          <ion-checkbox slot="end" [(ngModel)]="service.active"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-button slot="start" color="warning" (click)="delete(service)">
            Delete
        </ion-button>
          <ion-button slot="end" color="secondary" (click)="updateService(service)">
            Edit
        </ion-button>
        </ion-item>
      </ion-list>
    </IonCardContent>
  </IonCard>
</ion-content>
